* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
}

header .logo {
    margin: 0 15px 0 0;
}

header .logo p a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 30px;
    color: rgb(20, 20, 60);
    font-weight: bold;
    font-style: italic;
}

header .links nav ul {
    margin-right: 100px;
}

header .links nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
}
header .links nav ul li:hover {
    transform: scale(1.1);
}


header .links nav ul li a select:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}

header .links nav ul li a {
    color: rgb(20, 20, 60);
    font-size: 14px;
}

header .links ul li a select {
    border: none;
}

header .end {
    margin-right: 50px;
}
header .end nav ul li {
    display: inline;
    margin-right: 20px;
}

header .end nav ul #btn {
    background-color: rgb(20, 20, 60);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 35px;
    border: none;
    margin: 0 20px 0 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

header .end nav ul #btn:hover {
    background-color: white;
    color: rgb(20, 20, 60);
    border: 1px solid rgb(20, 20, 60);
    transform: scale(1.1);
}


main {
    width: 100%;
    background-color: rgb(190, 205, 250);
}

main .hero {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgb(35, 35, 105), rgb(40, 40, 170));
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .hero .about-bloom {
    width: 100%;
    margin-top: 50px;
    padding: 50px 25px 20px 25px;
}

main .hero .about-bloom h2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
main .hero .about-bloom p {
    color: white;
    font-size: 14px;
}

main .hero .about-bloom-img {
    width: 500px;
    height: 450px;
    border-radius: 20px;
    margin: 60px 20px 0 10px;
    background-color: grey;
}

main .content {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(176, 196, 217); */
}

main .content .article {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

main .content .article .abt-img1 {
    width: 520px;
    height: 350px;
    margin: 10px;
    background-color: grey;
    border-radius: 20px;
}

main .content .article .abt-img2 {
    width: 250px;
    height: 200px;
    margin: 10px;
    background-color: grey;
    border-radius: 20px;
}

main .content .article .abt-img3 {
    width: 250px;
    height: 200px;
    margin: 10px;
    background-color: grey;
    border-radius: 20px;
}

main .content .aside {
    width: 45%;
}

main .content .aside h2 {
    font-size: 40px;
    font-weight: bold;
}

main .content .aside p {
    font-size: 15px;
    line-height: 1.8;
}

main .statements {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .statements .mission {
    width: 45%;
    height: 400px;
    margin: 10px 15px;
    border-radius: 20px;
    background-color: rgb(160, 160, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
main .statements .mission h2{
    font-size: 32px;
}
main .statements .mission p {
    font-size: 15px;
    line-height: 1.6;
}

main .statements .vision {
    width: 45%;
    height: 400px;
    margin: 10px 15px;
    background-color: rgb(160, 160, 240);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
main .statements .vision h2{
    font-size: 32px;
}
main .statements .vision p {
    font-size: 15px;
    line-height: 1.6;
}


main .statements .values {
    width: 92%;
    height: 400px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: rgb(160, 160, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
main .statements .values h2{
    font-size: 32px;
}
main .statements .values p {
    font-size: 15px;
    line-height: 1.6;
}


footer {
    width: 100%;
    background: linear-gradient(to bottom, rgb(35, 35, 105), rgb(40, 40, 170));
}

footer .top {
    height: 470px;
    display: flex;
    justify-content: space-evenly;
}

footer .top div {
    width: 20%;
    margin: 60px 10px 30px 20px;
}

footer .top div h2 {
    color: white;
    font-size: 30px;
}

footer .top div ul li {
    margin-bottom: 10px;
    cursor: pointer;
}/*  */

footer .top div ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    color: white;
}

footer > .top > div > h4 > i {
    color: white;
}

footer .top div ul .about-us a{
    font-style: bold;
    font-size: 16px;
}

footer .top div ul .program a{
    font-style: bold;
    font-size: 16px;
}

footer .top div ul .quick-links a{
    font-style: bold;
    font-size: 16px;
}

footer .top div ul .get-involved a{
    font-style: bold;
    font-size: 16px;
}
footer .top div p {
    color: rgb(20, 20, 60);
}

footer .top div #btn4 {
    margin-top: 30px;
    padding: 15px 30px;
    border-style: none;
    border-radius: 25px;
    color: white;
    background-color: rgb(20, 20, 60);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

footer .top div #btn4:hover {
    color: rgb(20, 20, 60);
    background-color: white;
    border: 1px solid rgb(20, 20, 60);
    font-weight: bold;
    transform: scale(1.1);
    opacity: 0.7;
}

footer .bottom {
    width: 100%;
    height: 150px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100, 100, 150);
}

footer .bottom .news {
    margin: 30px 20px;
}

footer .bottom .news p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    color: white;
}

footer .bottom .news #btn5 {
    color: white;
    background-color: rgb(20, 20, 60);
    margin: 5px 10px;
    border-style: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transform: scale(1.1);
}

footer .bottom .news #btn5:hover {
    color: rgb(20, 20, 60);
    background-color: white;
    border: 1px solid rgb(20, 20, 60);
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}

footer .bottom .news #btn5 a {
    color: white;
    font-size: 13px;
}
footer .bottom .news #btn5 a:hover {
    color: rgb(20, 20, 60);
}
footer .bottom .news input {
    padding: 10px 150px 10px 13px;
    color: black;
    border-style: none;
    border-radius: 20px;
}

footer .bottom .socials nav ul li {
    display: inline;
    margin-right: 15px;
    color: white;
    font-size: 18px;
}

footer .bottom .socials nav ul li a {
    color: rgb(20, 20, 60);
    font-weight: bold;
    font-size: 20px;
}

i {
    cursor: pointer;
}

i:hover {
    transition: all ease-in-out 0.5s;
    color: rgb(15, 15, 15);
    transform: scale(1.5);
}
