* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
}

header .logo {
    margin: 0 15px 0 0;
}

header .logo p a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 30px;
    color: rgb(20, 20, 60);
    font-weight: bold;
    font-style: italic;
}

header .links nav ul {
    margin-right: 100px;
}

header .links nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
}
header .links nav ul li:hover {
    transform: scale(1.1);
}


header .links nav ul li a select:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}

header .links nav ul li a {
    color: rgb(20, 20, 60);
    font-size: 14px;
}

header .links ul li a select {
    border: none;
}

header .end {
    margin-right: 50px;
}
header .end nav ul li {
    display: inline;
    margin-right: 20px;
}

header .end nav ul #btn {
    background-color: rgb(20, 20, 60);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 35px;
    border: none;
    margin: 0 20px 0 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
} 
header .end nav ul #btn a {
    color: white;
}
header .end nav ul #btn a:hover {
    color: rgb(20, 20, 60);
}
header .end nav ul #btn:hover {
    background-color: white;
    color: rgb(20, 20, 60);
    border: 1px solid rgb(20, 20, 60);
    transform: scale(1.1);
}

header .info {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 14%;
}

header .info div {
    width: 350px;
    height: 30px;
    background-color: white;
    justify-content: center;
    margin: 0 5px;
    color: black;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    position: relative;
    display: inline-block;
}

header .info div:hover {
    transform: scale(0.95);
    background-color: rgb(20, 20, 60);
    color: white;
}

header .info div .services {
    margin: 7px 0;
    text-align: center; 
}

header .info div .services a{
    color: black;
}

header .info div .services a:hover {
    color: white;
}

header .info div .services-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightgrey;
    text-decoration: none;
    list-style: none;
    width: 350px;
    padding: 10px 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);/* check */
    transition: all ease-in-out 0.5s;
}

/* header .info div .services-list li {
    cursor: pointer;
    margin: 5px 0;
} */

/* header .info div .services-list li:hover {
    background-color: rgb(100, 68, 100);
    color: white;
} */

/* header .info div .services:hover .services-list {
    display: flex;
    flex-direction: column;
} */


main .hero{
    width: 100%;
    height: 700px;
    position: relative;
    background-color: rgb(20, 20, 60);
}

main .hero img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
}

main .hero .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 18%;
    right: 18%;
}

main .hero .text h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

main .hero .text h1 {
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 45px;
    margin-bottom: 35px;
}

main .hero .text p {
    font-size: 20px;
    margin-bottom: 40px;
}

main .hero .text #btn2 {
    font-size: 15px;
    color: white;
    padding: 15px 40px;
    border-style: none;
    border-radius: 25px;
    background-color: rgb(20, 20, 60);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

main .hero .text #btn2:hover {
    background-color: white;
    opacity: 0.9;
    color: rgb(20, 20, 60);
    font-weight: bold;
    transform: scale(1.1);
    border: 1px solid rgb(20, 20, 60);
}

main .content {
    width: 100%;
    background-color: lightgray;
}

main .content .box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

main .content .box div {
    width: 45%;
    height: 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(20, 20, 20, 0.5);
    background-color: rgb(233, 231, 231);
    cursor: pointer;
}

main .content .box div img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    object-fit: cover;
}

main .content .box div h1 {
    font-size: 35px;
    color: rgb(20, 20, 60);
    margin: 0 10px 30px 20px;
}

main .content .box div p {
    font-size: 15px;
    color: rgb(20, 20, 60);
    margin: 10px 10px 15px 20px;
}

main .content .box div .btn {
    padding: 12px 30px;
    color: white;
    border-style: none;
    border-radius: 20px;
    margin: 20px 0 0 -400px;
    background-color: rgb(20, 20, 60);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

main .content .box div .btn:hover {
    background-color: white;
    opacity: 0.9;
    color: rgb(20, 20, 60);
    transform: scale(1.1);
    border: 1px solid rgb(20, 20, 60);
    font-weight: bold;
}

main .partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: linear-gradient(to right, rgb(193, 191, 254), rgb(157, 148, 206));
}

main .partners h1 {
    margin: 30px 0;
    font-size: 38px;
    color: rgb(20, 20, 60);
    font-style: bold;
}

main .partners .org {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .partners .org .firms {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    margin: 10px 15px 35px 15px;
    border: 1px solid black;
    border-style: none;
    text-align: center;
    opacity: 1;
}

main .partners .org .firms img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
#partner-signup {
    margin: 10px 0;
}
#partner-signup button {
    padding: 15px 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    border-style: none;
    background-color: rgb(37, 37, 81);
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
#partner-signup button:hover {
    transform: scale(1.1);
    color: rgb(37, 37, 81);
    background-color: white;
    border: 1px solid rgb(37, 37, 81);
}

main .end {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    position: relative;
    background-color: black;
}

main .end img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
}

main .end div {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .end div p {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

main .end div #btn3 {
    margin-top: 35px;
    padding: 12px 25px;
    border-style: none;
    border-radius: 20px;
    color: rgb(20, 20, 60);
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

main .end div #btn3:hover {
    background-color: rgb(20, 20, 60);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(20, 20, 60);
    transform: scale(1.1);
    opacity: 0.9;
}

footer {
    width: 100%;
    background: linear-gradient(to bottom, rgb(35, 35, 105), rgb(40, 40, 170));
}

footer .top {
    height: 470px;
    display: flex;
    justify-content: space-evenly;
}

footer .top div {
    width: 20%;
    margin: 60px 10px 30px 20px;
}

footer .top div h2 {
    color: white;
    font-size: 30px;
}

footer .top div ul li {
    margin-bottom: 10px;
    cursor: pointer;
}/*  */

footer .top div ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    color: white;
}

footer > .top > div > h4 > i {
    color: white;
}

footer .top div ul .about-us a{
    font-style: bold;
    font-size: 16px;
}

footer .top div ul .program a{
    font-style: bold;
    font-size: 16px;
}

footer .top div ul .quick-links a{
    font-style: bold;
    font-size: 16px;
}

footer .top div ul .get-involved a{
    font-style: bold;
    font-size: 16px;
}
footer .top div p {
    color: rgb(20, 20, 60);
}

footer .top div #btn4 {
    margin-top: 30px;
    padding: 15px 30px;
    border-style: none;
    border-radius: 25px;
    color: white;
    background-color: rgb(20, 20, 60);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

footer .top div #btn4:hover {
    color: rgb(20, 20, 60);
    background-color: white;
    border: 1px solid rgb(20, 20, 60);
    font-weight: bold;
    transform: scale(1.1);
    opacity: 0.7;
}

footer .bottom {
    width: 100%;
    height: 150px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100, 100, 150);
}

footer .bottom .news {
    margin: 30px 20px;
}

footer .bottom .news p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    color: white;
}

footer .bottom .news #btn5 {
    color: white;
    background-color: rgb(20, 20, 60);
    margin: 5px 10px;
    border-style: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transform: scale(1.1);
}

footer .bottom .news #btn5:hover {
    color: rgb(20, 20, 60);
    background-color: white;
    border: 1px solid rgb(20, 20, 60);
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}

footer .bottom .news #btn5 a {
    color: white;
    font-size: 13px;
}
footer .bottom .news #btn5 a:hover {
    color: rgb(20, 20, 60);
}
footer .bottom .news input {
    padding: 10px 150px 10px 13px;
    color: black;
    border-style: none;
    border-radius: 20px;
}

footer .bottom .socials nav ul li {
    display: inline;
    margin-right: 15px;
    color: white;
    font-size: 18px;
}

footer .bottom .socials nav ul li a {
    color: rgb(20, 20, 60);
    font-weight: bold;
    font-size: 20px;
}

i {
    cursor: pointer;
}

i:hover {
    transition: all ease-in-out 0.5s;
    color: rgb(15, 15, 15);
    transform: scale(1.5);
}


#donate {
    width: 100%;
    height: 35px;
    background-color: rgb(44, 7, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

#donate p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


i {
    cursor: pointer;
}

i:hover {
    transition: all ease-in-out 0.5s;
    color: rgb(15, 15, 15);
    transform: scale(1.5);
}
