* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
}

header .logo {
    margin: 0 15px 0 0;
}

header .logo p a {
    font-family: helvetica;
    font-size: 30px;
    color: rgb(68, 7, 68);
    font-weight: bold;
    font-style: italic;
}

header .links nav ul {
    margin-right: 100px;
}

header .links nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
}
header .links nav ul li:hover {
    transform: scale(1.1);
}
header .links nav ul li a select:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}

header .links nav ul li a {
    color: black;
    font-size: 14px;
}

header .links ul li a select {
    border: none;
}

header .end {
    margin-right: 50px;
}
header .end nav ul li {
    display: inline;
    margin-right: 20px;
}

header .end nav ul #btn {
    background-color: rgb(71, 7, 71);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 35px;
    border: none;
    margin: 0 20px 0 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

header .end nav ul #btn:hover {
    background-color: white;
    color: rgb(71, 7, 71);
    border: 1px solid rgb(71, 7, 71);
    transform: scale(1.1);
}

header .info {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15%;
}

header .info div {
    width: 350px;
    height: 30px;
    background-color: white;
    justify-content: center;
    margin: 0 5px;
    color: black;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    position: relative;
    display: inline-block;
}

header .info div:hover {
    transform: scale(0.95);
    background-color: rgb(71, 7, 71);
    color: white;
}

header .info div .services {
    margin: 7px 0;
    text-align: center; 
}

header .info div .services-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightgrey;
    text-decoration: none;
    list-style: none;
    width: 350px;
    padding: 10px 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);/* check */
    transition: all ease-in-out 0.5s;
}

/* header .info div .services-list li {
    cursor: pointer;
    margin: 5px 0;
} */

/* header .info div .services-list li:hover {
    background-color: rgb(100, 68, 100);
    color: white;
} */

/* header .info div .services:hover .services-list {
    display: flex;
    flex-direction: column;
} */


main .hero{
    width: 100%;
    height: 700px;
    position: relative;
    background-color: rgb(43, 4, 43);
}

main img {
    width: 100%;
    height: 100%;
    opacity: 0.55;
}

main .hero .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 27%;
}

main .hero .text h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

main .hero .text h1 {
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 60px;
    margin-bottom: 35px;
}

main .hero .text p {
    font-size: 18px;
    margin-bottom: 40px;
}

main .hero .text #btn2 {
    font-size: 14px;
    color: white;
    padding: 10px 28px;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(71, 7, 71);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

main .hero .text #btn2:hover {
    background-color: white;
    opacity: 0.9;
    color: rgb(71, 7, 71);
    font-weight: bold;
    transform: scale(1.1);
    border: 1px solid rgb(71, 7, 71);
}

main .content {
    width: 100%;
    /* height: 1080px; */
    background-color: lightgray;
}

main .content .box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

main .content .box div {
    width: 40%;
    height: 450px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 231, 231);
    border: 1px solid lightgrey;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.4); */
}

main .content .box div img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

main .content .box div h1 {
    font-size: 35px;
    color: rgb(71, 7, 71);
    margin: 0 10px 30px 20px;
}

main .content .box div p {
    font-size: 15px;
    color: rgb(71, 7, 71);
    margin: 10px 10px 15px 20px;
}

main .content .box div .btn {
    padding: 12px 30px;
    color: white;
    border-style: none;
    border-radius: 20px;
    margin: 35px 0 0 -360px;
    background-color: rgb(71, 7, 71);
    cursor: pointer;
    transform: scale(1.1);
}

main .content .box div .btn:hover {
    background-color: white;
    opacity: 0.9;
    color: rgb(71, 7, 71);
    transition: all ease-in-out 0.5s;
    border: 1px solid rgb(71, 7, 71);
    font-weight: bold;
}

main .partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .partners h1 {
    margin: 30px 0;
    font-size: 35px;
    color: rgb(71, 7, 71);
    font-style: bold;
}

main .partners .org {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .partners .org .firms {
    width: 200px;
    height: 200px;
    background-color: rgb(71, 7, 71);
    border-radius: 50%;
    margin: 10px 20px;
    border: 1px solid black;
    text-align: center;
}

main .end {
    width: 100%;
    height: 500px;
    margin-top: 60px;
    position: relative;
}

main .end img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

main .end div {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .end div p {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

main .end div #btn3 {
    margin-top: 35px;
    padding: 12px 25px;
    border-style: none;
    border-radius: 20px;
    color: rgb(71, 7, 71);
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
}

main .end div #btn3:hover {
    background-color: rgb(71, 7, 71);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(71, 7, 71);
    transition: all ease-in-out 0.5s;
    opacity: 0.9;
}

footer {
    width: 100%;
}

footer .top {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
}

footer .top div {
    width: 25%;
    margin: 100px 40px 50px 60px;
}
footer .top div h2 {
    color: rgb(71, 7, 71);
    font-size: 30px;
}

footer .top div nav ul li {
    margin-bottom: 20px;
    cursor: pointer;
}
footer .top div nav ul li:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}

footer .top div nav ul li a {
    color: rgb(71, 7, 71);
}

footer .top div p {
    color: rgb(71, 7, 71);
}

footer .top div #btn4 {
    margin-top: 30px;
    padding: 15px 30px;
    border-style: none;
    border-radius: 25px;
    color: white;
    background-color: rgb(71, 7, 71);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
}

footer .top div #btn4:hover {
    color: rgb(71, 7, 71);
    background-color: white;
    border: 1px solid rgb(71, 7, 71);
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}

footer .bottom {
    width: 100%;
    height: 125px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(212, 116, 212);
}

footer .bottom .news {
    margin: 0 20px;
}

footer .bottom .news p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(71, 7, 71);
}

footer .bottom .news #btn5 {
    color: white;
    background-color: rgb(71, 7, 71);
    margin: 5px 10px;
    border-style: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transform: scale(1.1);
}

footer .bottom .news #btn5:hover {
    color: rgb(71, 7, 71);
    background-color: white;
    border: 1px solid rgb(71, 7, 71);
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}

footer .bottom .news #btn5 a {
    color: white;
    font-size: 13px;
}
footer .bottom .news #btn5 a:hover {
    color: rgb(71, 7, 71);
}
footer .bottom .news input {
    padding: 8px 100px 8px 13px;
    color: black;
}

footer .bottom .socials nav ul li {
    display: inline;
    margin-right: 15px;
    font-size: 18px;
}

footer .bottom .socials nav ul li a {
    color: rgb(44, 7, 44);
    font-weight: bold;
    font-size: 18px;
}

i {
    cursor: pointer;
}

i:hover {
    transition: all ease-in-out 0.5s;
    color: rgb(15, 15, 15);
    transform: scale(1.5);
}
